.successfullyMsg {
  margin: 5px;
  padding: 5px;
  border: 1px solid #8bc34a;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #87d185;
}
.successfullyMsg__btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #8bc34a;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
