.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home > form > h5 {
  margin-bottom: 5px;
}
.home > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}
.home > form > input:focus {
  outline: none;
  border: 1px solid #5fa9db;
}
.home > form > select {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}
.home > form > select:focus {
  outline: none;
  border: 1px solid #5fa9db;
}
.home__btn {
  background-color: #5fa9db;
  border: 1px solid;
  border-color: #5fa9db;
  cursor: pointer;
  color: #111;
  width: 100%;
  border-radius: 2px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0 10px 0;
}
