.header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.header__logo {
  height: 70px;
  cursor: pointer;
}
.header__titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__titles1 {
  margin-left: 10px;
  margin-right: 10px;
}
.header__titles1:hover {
  color: #00b775;
}
.header__titlesLogout {
  cursor: pointer;
}

.header__titlesLogout:hover {
  color: #00b775;
}
