.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal > form > button {
  background-color: #5fa9db;
  border: 1px solid;
  border-color: #5fa9db;
  cursor: pointer;
  color: #111;
  width: 100%;
  border-radius: 2px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0 10px 0;
}

.modal > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}
.modal > form > input:focus {
  outline: none;
  border: 1px solid #5fa9db;
}
.modal > form > select {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}
.modal > form > select:focus {
  outline: none;
  border: 1px solid #5fa9db;
}
.employee__btn {
  background-color: #5fa9db;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}
.employee__btn:hover {
  background-color: black;
  color: #5fa9db;
}
